body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

.banner {
  height: 200px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner img {
  height: 150px;
}

.button-container {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.button {
  margin-right: 20px; /* Add margin to the right of "Takeaways" button */
  padding: 20px 60px; /* Increase padding to make button larger */
  border: none;
  border-radius: 5px;
  font-size: 24px; /* Increase font-size to make text larger */
  font-weight: bold;
  color: white;
  background-color: blue;
  cursor: pointer;
}

.button:hover {
  background-color: #89a8c7; /* Lighter shade of blue when hovered over */
}

